.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: aqua;
  padding: 12px;
  /* width: 100px; */
  /* height: 35px; */
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color ease-in-out 300ms;
}

.button:hover,
.button:focus {
  background-color: aquamarine;
}

.active {
  text-decoration: underline;
  background-color: #2196f3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.link :focus,
.link:hover {
  color: #2196f3;
}

/* .activeLink {
  composes: link;
  color: #2196f3;
} */
